if status is-interactive
    # Commands to run in interactive sessions can go here
end


# Oh My Posh Setup
#alias oh-my-posh='/home/william/.local/bin/oh-my-posh'
#set -U fish_greeting
#oh-my-posh init fish --config ~/git/config-work/oh-my-posh/night-owl02.json | source

function git-daily
    git add .
    git commit -m "Daily Commit"
    git push
end

abbr --add gd 'git-daily'


# Clean merged branches function
function clean_merged_branches
    git switch main
    git pull origin main
    set -l branches (git branch --merged | grep -v "main" | grep -v "list" | sed 's/^[ *]*//')
    if test -n "$branches"
        echo "Deleting merged branches: $branches"
        git branch --delete --force $branches
    else
        echo "No merged branches to delete"
    end
end


# File System Navigation
abbr --add ls 'lsd -F'
abbr --add la 'lsd -AF'
abbr --add ll 'lsd -lAF'
abbr --add lg 'lsd -F --group-dirs=first'
abbr --add tree 'lsd -AF --tree'

# Development Tools
abbr --add tf 'terraform'
abbr --add gl 'git --no-pager log --decorate=full --oneline -n 10'
abbr --add uml 'java -jar plantuml.jar -gui'
abbr --add gm 'clean_merged_branches'
abbr --add dn 'daily-note'
